/* Write your CSS here */
* {
  font-family: 'Roboto';
}
.bg-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/random-no-generator-bg.png');
  height: 100vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-card {
  background-color: #ffffff;
  height: 400px;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0px 4px 16px 0px #bfbfbf;
}

.heading {
  color: #0b69ff;
}

.para {
  color: #333333;
}

.btn {
  height: 40px;
  width: 120px;
  background-color: #0b69ff;
  color: #ffffff;
  cursor: pointer;
  outline: none;
  border-width: 0px;
  border-radius: 10px;
}

.number {
  font-size: 40px;
  color: #0b69ff;
  font-weight: bold;
}
